html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ВАЖЛИВО: НЕ перекриваємо фон і колір body.
   CssBaseline з MUI сам поставить:
   body { background: theme.palette.background.default; color: theme.palette.text.primary } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}